html, body {
    margin: 0;
    padding: 0;
}

#playground{
    display:flex;
    flex-wrap:wrap;
    width:1500px;
    height:1000px;
}

#nav{
    position: fixed;
    width: 15vw;
    height: 15vh;
    background-color: bisque;
}

#nav div{
    margin: auto;
    text-align: center;
    position: relative;
}
#count{
    top: 7%;
}
#dir_display{
    top: 20%;
}
#speed{
    position: relative;
    top: 40%;
}